alabaster
apipkg
attrs
autopep8
Babel
backports.shutil-get-terminal-size
certifi
chardet
coverage
decorator
docutils
enum34
execnet
funcsigs
idna
imagesize
ipdb
ipython
ipython-genutils
Jinja2
ladon
MarkupSafe
packaging
pathlib2
pexpect
pickleshare
pip
pkg-resources
pluggy
progressbar2
prompt-toolkit
psutil
ptyprocess
py
pycodestyle
Pygments
pyparsing
PyScaffold
pytest
pytest-cache
pytest-cov
pytest-localserver
pytest-pythonpath
python-memcached
python-utils
pytz
redis
requests
scandir
setuptools
simplegeneric
six
snowballstemmer
Sphinx
sphinx-bootstrap-theme
sphinx-rtd-theme
sphinxcontrib-websupport
traitlets
typing
urllib3
wcwidth
Werkzeug
wheel
